@font-face {
  font-family: Raleway;
  src: url(../fonts/Raleway-Medium.ttf);
}
@font-face {
  font-family: Raleway Light;
  src: url(../fonts/Raleway-Light.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Raleway;
}

.navbar {
  background-color: white;
  display: flex;
  justify-content: center;
  justify-content: space-around;
  align-items: center;
  padding: 1.25rem;
}

.navbar a,
nav {
  text-decoration: none;
  color: #666;
}
.navbar nav {
  display: flex;
  gap: 1.25rem;
}
.navbar nav a {
  font-size: 0.8125rem;
  font-weight: 500;
  letter-spacing: -0.0625rem;
}

.navbar a {
  font-size: 1.5rem;
  font-weight: 300;
}

.navbar nav a:hover {
  color: #8ca7bc;
}

.navbar a:hover {
  color: #8ca7bc;
}

/* - Article  */

article {
  background: url(../img/water.jpg) no-repeat center;
  background-size: cover;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
}

article h1 {
  font-family: Raleway Light;
  font-size: 3.75rem;
  margin-bottom: 1.5625rem;
}

article p {
  font-size: 0.875rem;
  margin-bottom: 2.25rem;
}

article div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

article a {
  text-decoration: none;
  color: white;
  padding: 0.9375rem;
  width: 12.5rem;
  display: flex;
  justify-content: center;
}

article a:nth-of-type(1) {
  border: 2px solid #745cf9;
  background-color: #745cf9;
}
article a:nth-of-type(2) {
  border: 2px solid #ffffff;
}

article a:nth-of-type(1):hover {
  border: 2px solid #4433a4;
  background-color: #4433a4;
}
article a:nth-of-type(2):hover {
  border: 2px solid #ffffff;
  background-color: white;
  color: black;
}
