main {
  display: flex;
  justify-content: center;
  align-items: center;
}

div {
  height: 50px;
  width: 50px;
  background-color: pink;
  border-radius: 10px;
  transition: 0.5s;
}

div:hover {
  transform: rotateZ(90deg) scale(1.5);
  transform-origin: bottom left;
}
