* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 200px;
  height: 200px;
}
main {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
.container {
  display: inline-block;

  position: relative;

  overflow: hidden;
}

.discover {
  background-color: rgba(128, 128, 128, 0.477);
  position: absolute;
  width: 200px;
  height: 200px;
  top: 200px;
  /* display: none; */
  transition: 0.5s;
}

.container:hover .discover {
  background-color: rgba(255, 0, 0, 0.398);
  top: 0px;
}
