* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(200, 200, 200);
}

img {
  width: 200px;
  height: 200px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  position: relative;
  overflow: hidden;
}

.discover {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  font-size: 20px;
  color: #ffffff;
  justify-content: center;
  align-items: center;
  background-color: rgba(75, 75, 75, 0.477);
  position: absolute;
  width: 200px;
  height: 200px;
  top: 200px;
  transition: 1s linear;
}

/* # Warum wird bei img immer hover neu aktiviert???  */
/* # Wenn man oberen container anspricht passiert das nicht.  */

/* img:hover ~ .discover {
  top: 0px;
} */

.container:hover .discover {
  top: 0px;
}
