/* --------- basics */

@font-face {
  font-family: ubuntu;
  src: url(../fonts/Ubuntu-Regular.ttf);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
img {
  max-width: 100%;
}

html {
  font-size: 62.5%;
  font-family: ubuntu, Arial, Helvetica, sans-serif;
}

h1 {
  font-size: clamp(3rem, 4vw, 5rem);
}
h2 {
  font-size: clamp(3rem, 4vw, 4.8rem);
}
h3 {
  font-size: clamp(2.5rem, 3.3vw, 4rem);
}
h4 {
  font-size: clamp(2.8rem, 3.2vw, 3.8rem);
}
h5 {
  font-size: clamp(2.5rem, 3vw, 3.2rem);
}
h6 {
  font-size: clamp(1.6rem, 2.5vw, 1.8rem);
}
p,
label {
  font-size: clamp(2rem, 2vw, 2rem);
}
a,
li {
  font-size: clamp(2.5rem, 2vw, 2.5rem);
  padding-top: 30px;
}

.wrapper {
  background-color: rgba(171, 184, 195, 100);
  padding: 5vw 10vw;
}

/* --------- header */

header {
  text-align: center;
  margin-bottom: 120px;
}
main img {
  width: 70vw;
}
