.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: lightblue;
  padding: 2vw;
}

.hero img {
  width: 50vw;
}

.reverse-box {
  flex-direction: row-reverse;
  background-color: rgb(176, 250, 225);
}
