* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.movie-box {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  width: 100%;
  gap: 20px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-inline: 20vw;
}

.grid-box {
  background-color: pink;
  padding: 1vw;
  border-radius: 10px;
  height: 100%;
}

.grid-box p {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.grid-box p:nth-of-type(1) {
  font-weight: 800;
  margin-bottom: 10px;
  font-size: 20px;
}
.grid-box p:nth-of-type(3) {
  font-weight: 800;
}

.grid-box P:nth-of-type(5) {
  word-break: break-word;
}

h1 {
  padding: 1.5vw;
}
h3 {
  margin-bottom: 20px;
}

input {
  margin-bottom: 20px;
}

input[type="button"] {
  padding: 5px 10px;
}

input[type="text"] {
  height: 28px;
}
