@import url(http://fonts.googleapis.com/css?family=Oleo+Script);
@import url(http://fonts.googleapis.com/css?family=Ruluko);

body {
  font-family: "Ruluko", sans-serif;
  margin: 0px auto;
  text-align: center;
  width: 700px;
}

.header {
  margin: 20px 0px;
}

#title {
  color: #fbec5d;
  border-radius: 5px;
  font-family: "Oleo Script", cursive;
  font-size: 50px;
  margin: 0;
}

.konto {
  color: #6b3e26;
  background-color: #fffbc9;
  border: 1px solid #fbec5d;
  border-radius: 15px;
  display: inline-block;

  padding: 10px;
  width: 300px;
}

.saldo {
  background-color: #fbec5d;
  color: #ffffff;
  border: 1px solid #fbec5d;
  border-radius: 15px;
  font-family: "Ruluko", sans-serif;
  font-size: 50px;
  margin: 15px;
  padding: 25px 0px;
}
.geldbetrag {
  margin: 0 0.25rem;
  min-width: 125px;
  border-radius: 5px;
  transition: border-color 0.5s ease-out;
}
.auszahlen,
.einzahlen {
  margin: 5px;
  padding: 5px 10px;
  background-color: #fbec5d;
  color: #6b3e26;
  border-radius: 5px;
  border: 1px solid rgb(98, 98, 98);
  cursor: pointer;
}

#input {
  border-radius: 10px;
  padding: 1vw;
  text-align: center;
  border: 1px solid grey;
  margin-bottom: 10px;
}
