@font-face {
  font-family: Bely;
  src: url(../fonts/Bely_Display/Bely\ Display\ W00\ Regular.ttf);
}

@font-face {
  font-family: Cousine;
  src: url(../fonts/Cousine/Cousine-Regular.ttf);
}
@font-face {
  font-family: Didact;
  src: url(../fonts/Didact_Gothic/DidactGothic-Regular.ttf);
}
@font-face {
  font-family: Montserrat;
  src: url(../fonts/Montserrat/Montserrat-Regular.ttf);
}

@font-face {
  font-family: Novel;
  src: url(../fonts/Novel_Mono_Pro/novel-mono-pro-regular.otf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-size: 64px;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 24px;
}

/* ? Nav Bar */
header {
  padding: 20px;
}
header,
.logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  gap: 10px;
}

a {
  padding: 10px;
  text-decoration: none;
  color: black;
}
nav a:last-child {
  color: #71a894;
}
