h3 {
  font-size: 48px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(62, 62, 62);
  text-align: center;
  color: white;
}

p {
  color: #333;
  font-size: 20px;
}

li {
  color: #777;
  font-size: 20px;
}

li:nth-of-type(1) {
  text-decoration: overline;
}

li:nth-of-type(2) {
  text-decoration: line-through;
  text-align: center;
}

li:nth-of-type(3) {
  text-decoration: underline;
  text-align: right;
}
