h1 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 48px;
  color: white;
  text-shadow: 4px 4px 0px black;
  background-color: rgb(79, 79, 79);
  text-align: center;
}

p:first-of-type {
  font-family: "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial,
    sans-serif;
  text-indent: 50px;
  word-spacing: 10px;
}

p:nth-of-type(2) {
  word-spacing: -2px;
  text-indent: 100px;
}

strong {
  font-weight: bold;
}

h2 {
  text-shadow: 2px 2px 0px rgb(144, 144, 144);
  word-spacing: 10px;
  letter-spacing: 7px;
}

p:nth-of-type(3) {
  background-color: darkgrey;
  text-indent: 40px;
  line-height: 30px;
}

p:nth-of-type(4) {
  background-color: rgb(36, 36, 36);
  text-indent: 40px;
  color: white;
  line-height: 50px;
}
