@font-face {
  font-family: Inter;
  src: url(../fonts/Graphik-Medium.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

html {
  font-size: 62.5%;
  font-family: Inter;
}

:root {
  --maintext: #2b2c2e;
  --subtext: #9fa2a7;
}

/* !Header */
/* *Nav Bar */

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 11rem;
  padding: 1.7rem 5vw;
}

header nav div {
  display: flex;
  gap: 2.3rem;
}

header nav div a {
  font-size: 1.3rem;
  font-weight: 400;
  color: var(--maintext);
  text-decoration: none;
}

header h1 {
  font-size: 2.4rem;
  color: var(--maintext);
}

.button {
  border: 1px solid #48494c;
  border-radius: 4px;
  font-size: 1.7rem;
  text-align: center;
  padding: 0.7rem 5.8rem;
  text-decoration: none;
  color: var(--maintext);
}

/* header */
header h2 {
  color: var(--maintext);
  font-size: 3.9rem;
  font-weight: 300;
  text-align: center;
  margin-bottom: 3.6rem;
}

header img {
  margin-bottom: 17.4rem;
}

/* ! Main section price */
main {
  position: relative;
}

.price {
  display: flex;
  gap: 8rem;
  padding: 10vh 30vw 0 10vw;
  margin-bottom: 21rem;
}
.price div {
  width: 30vw;
}

.text {
  color: var(--maintext);
  font-size: 2.1rem;
  line-height: 152%;
}

.price div p:nth-of-type(1) {
  font-size: 6.1rem;
  font-weight: 700;
}
.price div p:nth-of-type(2) {
  font-size: 2rem;
  color: #9fa2a7;
}

/* ! Section delivery */

.delivery {
  background: url(../img/home_deliverables.png) no-repeat left;
  background-size: contain;
  height: 80vh;
  margin: 0 auto;
  width: 80vw;
  margin-bottom: 12.7rem;
}

.delivery article {
  width: 50vw;
  display: flex;
  flex-direction: column;
  margin-left: 40vw;
  padding-right: 10vw;
  padding-top: 10vh;
}

.delivery h2 {
  color: var(--maintext);
  font-size: 5.5rem;
  margin-bottom: 6.1rem;
}

.delivery div h3 {
  font-size: 2.3rem;
  color: var(--maintext);
  margin-bottom: 2.7rem;
}

.delivery div p {
  color: var(--subtext);
  font-size: 2.1rem;
  line-height: 124%;
  margin-bottom: 3rem;
}

/* ! section how-works */

.how-works {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f1f1f4;
  margin: 10vw 10vw;
}

.how-works img {
  height: 70vh;
}

.how-works article {
  padding: 5.5rem;
}

.how-works h3 {
  color: var(--maintext);
  font-size: 5rem;
  font-weight: 700;
  margin-bottom: 1.6rem;
}

.one {
  color: var(--subtext);
  font-size: 1.5rem;
  padding-left: 2vw;
}
.how-works article div p:nth-of-type(2) {
  color: var(--subtext);
  font-size: 1.7rem;
  padding-left: 2vw;
}
.how-works article div p:nth-of-type(3) {
  color: var(--subtext);
  font-size: 1.5rem;
  margin-bottom: 1.7rem;
  padding-left: 2vw;
}

.who {
  color: var(--subtext);
  font-size: 1.6rem;
}

/* ! Section critique */

.crit {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-items: center;
}

.crit h2 {
  font-size: 5rem;
  color: var(--maintext);
  font-weight: 700;
  margin-bottom: 4.3rem;
}

.crit p:nth-of-type(1) {
  font-size: 1.6rem;
  color: var(--subtext);
  margin-bottom: 1.6rem;
}
.crit p:nth-of-type(2) {
  font-size: 1.5rem;
  color: var(--subtext);
  margin-bottom: 12.7rem;
}

/* !Section percent */

.percent {
  background: url(../img/28.png) no-repeat top;
  background-size: contain;
  margin: 5vh;
  height: 50vh;
  position: relative;
}
.percent div img {
  width: 45vw;
  position: absolute;
  bottom: -90px;
  right: 0;
  margin-right: 10vw;
}

.percent div article {
  position: absolute;
  bottom: 0;
  left: 20vw;
}

.percent div article p {
  font-size: 2rem;
  color: var(--subtext);
  margin-bottom: 2.2rem;
}

.border {
  border-bottom: 1px solid var(--subtext);
  width: 65vw;
  margin: 0 auto;
  margin-top: 25vh;
  margin-bottom: 9.6rem;
}
/* ! Questions */

.question {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 5vh;
}
.question div {
  display: flex;
  align-items: baseline;
  justify-content: center;
  gap: 0.5rem;
}

.question h2 {
  color: var(--maintext);
  font-size: 4.8rem;
}
.question div img {
  width: 100px;
  height: 139px;
}

.question div p {
  color: var(--subtext);
  font-size: 1.6rem;
}
.question div a {
  color: var(--maintext);
  font-size: 1.6rem;
  text-decoration: none;
}

/* ! Hover */
.button:hover {
  background-color: var(--maintext);
  color: white;
}
