html {
  background-image: url(../img/828-800x600.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

a {
  color: white;
  text-decoration: none;
  padding: 5px;
  margin: 10px;
}

nav {
  background-color: rgba(127, 127, 127, 0.512);
  padding: 15px;
  text-align: right;
  margin: -8px;
}
