* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgb(39, 39, 39);
}

main div {
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3vw;
  background-color: rgb(181, 255, 238);
  border-radius: 20px;
}

h1,
h2,
p {
  text-align: center;
  margin-bottom: 20px;
}

input[type="text"] {
  margin-bottom: 10px;
  width: 20vw;
  height: 30px;
}

input[type="button"] {
  border-radius: 5px;
  padding: 15px;
  width: 200px;
  background-color: white;
  cursor: pointer;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.error {
  color: red;
}

.output {
}
