* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 400px;
  object-fit: cover;
  height: 200px;
}
div {
  display: flex;
  justify-content: center;
}

main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 0;
  gap: 5px;
}

/* ! Media Queries */

@media only screen and (max-width: 768px) {
  main {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (max-width: 576px) {
  main {
    grid-template-columns: repeat(1, 1fr);
  }
}
