.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2vw;
}

.product img {
  width: 300px;
  margin-bottom: 20px;
}

.product p {
  margin-bottom: 20px;
}

.product a {
  text-decoration: none;
  background-color: palevioletred;
  color: white;
  padding: 10px 40px;
  border-radius: 20px;
}
