.projects-section {
  margin-top: 60px;
  margin-bottom: 60px;
}

.project-group {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding-inline: 2vw;
}

.project {
  background-color: var(--sectioncolor);
  padding: 10px;
  border-radius: 10px;
}

.project div {
  margin-bottom: 20px;
}

.project div a {
  padding: 10px;
}

.project p {
  margin-bottom: 10px;
}
