.head {
  background-color: rgb(47, 118, 219);
  color: pink;
  font-size: 50px;
  text-align: center;
}

.list {
  font-size: 20px;
  color: blue;
}

#headline {
  cursor: pointer;
}

#liste {
  cursor: pointer;
}
