* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #29353d;
  color: white;
  margin: 30px 40vw;
  padding: 15px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

/* !Nav */
nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

nav a {
  color: white;
  text-decoration: none;
  padding: 10px 3vw;
  margin-bottom: 20px;
}

nav a:nth-of-type(1) {
  background-color: #3bb579;
  border: 1px solid#3BB579;
  font-size: 12px;
}

nav a:nth-of-type(2) {
  font-size: 12px;
}

/* ! h2 */

h2 {
  margin-bottom: 20px;
}

/* !inputs */

div {
  display: flex;
  justify-content: center;
  gap: 1px;
}

input[type="text"] {
  width: 8.5vw;
}

input {
  background-color: #29353d;
  padding: 10px;
  width: 17vw;
}

.pw {
  color: #2a8901;
  font-size: 10px;
  align-self: flex-end;
}

.submit {
  background-color: #3bb579;
  color: white;
  font-weight: bold;
  height: 50px;
  letter-spacing: 4px;
  margin-bottom: 10px;
}

/* !hover */

nav a:nth-of-type(2):hover {
  background-color: #196941;
  border: 1px solid#196941;
}

nav a:nth-of-type(1):hover {
  background-color: #3bb579;
  border: 1px solid #3bb579;
}

.submit:hover {
  background-color: #196941;
}
