* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.sedans {
  background-color: hsl(31, 77%, 52%);
  width: 307px;
  height: 500px;
  display: inline-block;
  text-align: left;
  border-radius: 8px 0 0 8px;
}

.suvs {
  background-color: hsl(184, 100%, 22%);
  width: 307px;
  height: 500px;
  display: inline-block;
  text-align: left;
}

.luxury {
  background-color: hsl(179, 59%, 58%);
  width: 307px;
  height: 500px;
  display: inline-block;
  text-align: left;
  border-radius: 0px 8px 8px 0px;
  position: relative;
  padding: 10px;
}

.sedans p {
  width: 212px;
  padding: 10px;
}
.suvs p {
  width: 212px;
  padding: 10px;
}
.luxury p {
  width: 212px;
  padding: 10px;
}

.all {
  width: 930px;
  height: 500px;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: row;
}
