@font-face {
  font-family: Lato;
  src: url(../fonts/Lato/Lato-Regular.ttf);
}

html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Lato;
}

.head {
  background-color: rgb(255, 255, 255);
  display: flex;
  gap: 3.2rem;
  align-items: flex-end;
  padding: 1.5rem 6.4rem;
}

header h1 {
  font-size: 2.4rem;
  display: flex;
  gap: 1.2rem;
}

header h1::before {
  content: url(../../assets/img/logo.png);
}

.head nav {
  width: 100vw;
  display: flex;
  font-size: 1.6rem;
  justify-content: space-between;
}
.head nav div {
  display: flex;
  gap: 1.7rem;
}

.head nav div a {
  text-decoration: none;
  color: black;
}

/* Rings  */
.section {
  background-color: #d9e8e5;
  display: flex;
  justify-content: center;
}

.rings {
  background-color: #d9e8e5;
  padding-top: 8rem;

  display: flex;
  align-items: center;
  flex-direction: column;
  height: 90vh;
}

.rings h2 {
  font-size: 2.4rem;
  align-self: flex-start;
}

article {
  display: flex;
  justify-content: center;
  width: 60vw;
  flex-wrap: wrap;
  gap: 1.6rem;
}

/* Price */

.rings article div p {
  font-size: 1.6rem;
  margin: 1.4rem;
}

.rings article div:nth-of-type(1) {
  background: url(../img/r1.png) no-repeat center;
  background-size: cover;
  width: 34rem;
  height: 22.7rem;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.rings article div:nth-of-type(2) {
  background: url(../img/r2.png) no-repeat center;
  background-size: cover;
  width: 34rem;
  height: 22.7rem;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.rings article div:nth-of-type(3) {
  background: url(../img/r3.png) no-repeat center;
  background-size: cover;
  width: 34rem;
  height: 22.7rem;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.rings article div:nth-of-type(4) {
  background: url(../img/r4.png) no-repeat center;
  background-size: cover;
  width: 34rem;
  height: 22.7rem;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.rings article div:nth-of-type(5) {
  background: url(../img/r5.png) no-repeat center;
  background-size: cover;
  width: 34rem;
  height: 22.7rem;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.rings article div:nth-of-type(6) {
  background: url(../img/r6.png) no-repeat center;
  background-size: cover;
  width: 34rem;
  height: 22.7rem;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
